@import "tailwindcss";

/* Police et style global */
* {
  @apply scroll-smooth;
}

body {
  @apply bg-black text-white font-sans;
  font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sekuya', ui-serif, Georgia, serif;
}

html {
  @apply scroll-smooth;
}

/* Couleurs personnalisées */
:root {
  --color-primary: #facc15; /* Jaune */
  --color-secondary: #22c55e; /* Vert */
  --color-dark: #000000; /* Noir sombre */
}
